:root {
    --primary-color: #2d2d2d;
    --secondary-color: #ff7f00;
    --primary-green: #17c6b1;
    --primary-blue: #27c7ff;
    --gray-text: #666666;
    --bg-white: #f2f2f2;

    --primary-font: "Inter", sans-serif;
    --secondary-font: "Oswald", sans-serif;
    --bootstrap-icons: bootstrap-icons;
}

body {
    font-family: var(--primary-font);
}

::selection {
    background-color: var(--primary-color);
    color: white;
}

a {
    text-decoration: none;
    transition: .3s;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

p {
    padding: 0 0 .5em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-float-instagram {
    position: fixed;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #833ab4;
    background: linear-gradient( to left top, #833ab4, #fd1d1d, #fcb045);
    border-radius: 100%;
    bottom: 15px;
    right: 15px;
    z-index: 30;
    box-shadow: 2px 2px 10px rgba(45, 45, 45, .25);
    i {
        font-size: 1.5em;
        color: white;
    }
}

.btn-float-lds {
    position: fixed;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #006184;
    border-radius: 100%;
    bottom: 70px;
    right: 15px;
    z-index: 30;
    overflow: hidden;
    img {
        position: absolute;
        width: 100%;
    }
}

.titles {
    margin: 0 0 2em;
    text-align: center;
    h2 {
        position: relative;
        display: inline-block;
        padding: 0 0 .5em;
        font-size: 2em;
        font-family: var(--secondary-font);
        font-weight: 700;
        text-transform: uppercase;
        @media (max-width: 768px) {
            font-size: 1.5em;
        }
        &:after {
            content: "";
            position: absolute;
            width: 30%;
            height: 5px;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    &.dark h2 {
        color: var(--primary-color);
        &:after {
            background-color: var(--primary-color);
        }
    }
    &.light h2 {
        color: var(--primary-color);
        &:after {
            background-color: var(--secondary-color);
        }
    }
}

.day-time {
    display: flex;
    align-items: center;
    margin: 0 0 .5em;
    i {
        display: block;
        margin-right: .5em;
        font-size: 1.25em;
        color: var(--secondary-color);
    }
    p {
        padding: 0;
        font-weight: 700;
        font-size: 1.125em;
    }
}

.accordion {
    .accordion-item {
        margin: 0 0 .25em;
        background-color: transparent;
        border: none;
        .accordion-header {
            font-size: 100%;
            .accordion-button {
                border-radius: 10px;
                background-color: var(--primary-color);
                font-size: 1em;
                color: white;
                font-weight: 700;
                &:not(.collapsed) {
                    border-radius: 10px;
                    background-color: var(--primary-color);
                    box-shadow: none;
                    color: var(--secondary-color);
                    &:focus {
                        box-shadow: none;
                    }
                }
                &.collapsed {
                    border-radius: 10px;
                    &:focus {
                        box-shadow: none;
                    }
                }
                &:after {
                    content: "\F282";
                    font-family: var(--bootstrap-icons);
                    background-image: none;
                }
            }
        }
        .accordion-body {
            padding-bottom: 2em;
            background-color: white;
            color: var(--primary-color);
            border-radius: 10px;
            margin: .25em 0 .5em;
            box-shadow: 3px 3px 20px rgba(45, 45, 45, .25);
            ul {
                li {
                    position: relative;
                    padding-left: .875em;
                    font-size: .875em;
                    color: var(--gray-text);
                    &:before {
                        content: "";
                        position: absolute;
                        width: 4px;
                        height: 4px;
                        border-radius: 100%;
                        background-color: var(--secondary-color);
                        top: 9px;
                        left: 0;
                    }
                }
            }
        }
    }
}

.top-header {
    .nav-logo {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1em;
        background-color: var(--secondary-color);
        top: 16px;
        left: -100%;
        z-index: 20;
        box-shadow: 0 0 20px rgba(255, 127, 0, .85);
        transition: 1s;
        span {
            display: block;
            font-family: var(--secondary-font);
            font-size: 1.25em;
            color: white;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    nav .nav-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        padding: 15px;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        top: 0;
        left: 0;
        transition: opacity .3s ease, visibility .3s ease;
        z-index: 10;
        li {
            &.nav-item {
                width: 100%;
                text-align: left;
                a {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 1em 0;
                    transition: .3s;
                    font-family: var(--secondary-font);
                    text-transform: uppercase;
                    &:hover {
                        color: var(--secondary-color);
                    }
                    span {
                        display: block;
                        font-size: 1.25em;
                        color: white;
                        font-weight: 500;
                    }
                    i {
                        position: absolute;
                        right: 0;
                        font-size: 1.5em;
                        color: var(--secondary-color);
                        line-height: 1em;
                    }
                }
            }
            &:not(:last-child) {
                border-bottom: 1px solid var(--secondary-color);
            }
        }
    }
    .icon-hamburger {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50px;
        height: 50px;
        background-color: var(--primary-color);
        border-radius: 100%;
        border: 2px solid var(--secondary-color);
        gap: 5px;
        padding: 0 12px;
        top: 10px;
        right: 12px;
        z-index: 20;
        cursor: pointer;
        span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: white;
            border-radius: 50px;
            transition: transform .3s ease, opacity .3s ease;
        }
        &.open {
            span:nth-child(1) {
                transform: translateY(7px) rotate(45deg);
            }
            span:nth-child(2) {
                opacity: 0;
            }
            span:nth-child(3) {
                transform: translateY(-7px) rotate(-45deg);
            }
        }
    }
    &.open {
        background-color: var(--primary-color);
        .nav-logo {
            opacity: 1;
            visibility: visible;
            left: 12px;
        }
        nav .nav-menu {
            opacity: 1;
            visibility: visible;
        }
        .icon-hamburger {
            border: 1px solid var(--secondary-color);
            span {
                background-color: var(--secondary-color);
            }
        }
    }
    &.scrolled .nav-logo {
        opacity: 1;
        visibility: visible;
        left: 12px;
    }
}

.hero-boletin {
    position: relative;
    height: 100vh;
    background-image: url('assets/images/bg-mountain.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    .header-bg-cloud {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-image: url('assets/images/bg-cloud.png');
        background-position: center;
        background-size: cover;
        bottom: 0;
        left: 0;
        z-index: 2;
    }
    .hero-title, .hero-info {
        position: absolute;
        left: 0;
        right: 0;
    }
    .hero-title {
        top: 15%;
        z-index: 1;
        @media (max-width: 768px) {
            top: 25%;
        }
    }
    .hero-info {
        bottom: 25%;
        z-index: 3;
        text-align: center;
        @media (max-width: 768px) {
            bottom: 25%;
        }
        h2 {
            font-size: 3.5em;
            color: white;
            text-transform: uppercase;
            font-family: var(--secondary-font);
            @media (max-width: 768px) {
                font-size: 2.25em;
            }
        }
        h3 {
            font-size: 1.5em;
            color: white;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-weight: 300;
            font-family: var(--secondary-font);
            @media (max-width: 768px) {
                font-size: 1em;
            }
        }
        .hero-btn {
            margin: 1.25em 0 0;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 230px;
                padding: .65em 0;
                margin: 0 auto .5em;
                background-color: transparent;
                color: white;
                border-radius: 50px;
                text-transform: uppercase;
                font-size: .875em;
                font-weight: 700;
                border: 1px solid white;
                transition: .3s;
                i {
                    display: block;
                    margin-right: .35em;
                    font-size: 1.25em;
                }
                span {
                    display: block;
                }
                &:hover {
                    background-color: white;
                    color: var(--primary-color);
                    box-shadow: 0 0 0 5px rgba(255, 255, 255, .35);
                }
            }
        }
    }
    h1 {
        font-size: 12em;
        font-family: var(--secondary-font);
        text-transform: uppercase;
        font-weight: 600;
        color: white;
        text-align: center;
        line-height: 1em;
        @media (max-width: 768px) {
            font-size: 6.5em;
        }
    }
    .gradient-bottom {
        position: absolute;
        width: 100%;
        height: 80%;
        background: #FF7F00;
        background: linear-gradient(0deg,rgba(255, 127, 0, 1) 0%, rgba(255, 127, 0, 0) 100%);
        bottom: 0;
        left: 0;
        z-index: 2;
    }
}

.schedule-section {
    padding: 0 0 3em;
    background-color: var(--secondary-color);
}

.weekly-schedule-section {
    padding: 2em 0 3em;
    background-color: var(--bg-white);
}

.announcements-section {
    padding: 2em 0;
    background-color: var(--secondary-color);
    .announcement-item {
        padding: 1.5em;
        background-color: white;
        margin: 0 0 .5em;
        border-radius: 10px;
        box-shadow: 3px 3px 20px rgba(45, 45, 45, .25);
        h3 {
            margin: 0 0 .5em;
            font-size: 1.25em;
            font-weight: 900;
            text-transform: uppercase;
        }
        .subtitle {
            font-size: .875em;
            color: var(--gray-text);
        }
        .day-time {
            margin: .5em 0 0;
        }
    }
}

.birthdays-section {
    background-color: var(--bg-white);
    padding: 3em 0;
    background-image: url('assets/images/bg-confeti.svg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    ul {
        width: 50%;
        margin: 0 auto;
        @media (max-width: 768px) {
            width: auto;
        }
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;
            background-color: rgba(255, 255, 255, .35);
            backdrop-filter: blur(5px);
            margin-bottom: .35em;
            h3 {
                width: 50%;
                font-size: .875em;
                font-weight: 700;
            }
            .date {
                display: flex;
                align-items: center;
                i {
                    display: block;
                    margin-right: .35em;
                    font-size: 1.25em;
                    color: var(--secondary-color);
                }
                p {
                    padding: 0;
                    font-size: .875em;
                    font-weight: 700;
                }
            }
        }
    }
}